:root {
	--primary: #091540;
	--primary-lighter: #0f2265;
	--secondary: #6a041d;
	--tertiary: #f5b841;
	--yellow: #f4ff52;
	--yellow-darker: #b2bc21;
	--green: #53ff45;
	--green-darker: #22a416;
}

body {
	color: white;
}

.btn {
	font-size: larger;
	font-weight: bold;
}

.btn:hover {
	text-decoration: none;
}

.btn.btn-primary {
	background-color: var(--tertiary);
	color: black;
}

.btn.btn-primary:hover {
	background-color: #d19827;
}

.card {
	border: 1px solid var(--primary) !important;
	border-radius: 20px 20px 0 0;
}

.card-bg {
	border: 1px solid var(--primary) !important;
	border-radius: 15px 15px;
	background-color: #2b2b4f;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
	/* align-items: flex-center; */
	/* flex-grow: calc(); */
}

.card-title {
	background-color: #6a041d;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.in-game-profile-p1 {
	border: 1px solid var(--primary) !important;
	border-radius: 15px 15px;
	background-color: #2b2b4f;
	display: flex;
	width: 300px;
	flex-direction: column;
	box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
	justify-content: center;
}

.in-game-profile-p2 {
	border: 1px solid var(--primary) !important;
	border-radius: 15px 15px;
	background-color: #2b2b4f;
	display: flex;
	width: 300px;
	flex-direction: column;
	box-shadow: 0 15px 13px rgba(0, 0, 0, 0.2);
	justify-content: center;
}

.card-title-p1 {
	background-color: red;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: flex;
}

.card-title-p2 {
	background-color: yellow;
	color: black;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: flex;
}

.card-items {
	margin: 1rem;
	align-items: center;
	justify-content: center;
}

.igp-card-items {
	display: flex;
	margin: 1rem;
	align-items: center;
	width: max-content;
	/* justify-content: center; */
}

.input {
	margin-right: 2rem;
	margin-bottom: 2rem;
}

.card .card-header {
	border-radius: 20px 20px 0 0;
	background-color: var(--primary) !important;
}

.header {
	border-radius: 0 0 20px 20px;
}

.footer {
	border-radius: 20px 20px 0 0;
}

.bg-primary {
	background-color: var(--primary);
}

.bg-primary-lighter {
	background-color: var(--primary-lighter);
}

.bg-secondary {
	background-color: var(--secondary);
}

.btn.btn-info {
	background-color: var(--green-darker) !important;
}

.btn.btn-info:hover {
	background-color: var(--green) !important;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	/* Align to the top */
	animation: slideIn 0.5s forwards;
	/* Animation for sliding in */
}

.modal-content {
	background: black;
	color: black;
	padding: 20px;
	border-radius: 8px;
	margin-top: 20px;
	/* Space from the top */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes slideIn {
	from {
		transform: translateY(-100%);
		/* Start from above */
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}